<!DOCTYPE html>
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
        {% if not css_file is none %}
            {% if not css_file == '' %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/' ~ css_file) }}">
            {% endif %}
        {% endif %}

        <script src="{{ url_for('static', filename='js/vendor/modernizr.js') }}"></script>
        {% if not js_file is none %}
            {% if not js_file == '' %}
        <script src="{{ url_for('static', filename='js/' ~ js_file) }}"></script>
            {% endif %}
        {% endif %}

    </head>
    <body>
        <div class="contain-to-grid sticky">
            <nav class="top-bar" data-topbar>
                <ul class="title-area">
                    <li class="name">
                        <h1><a href="{{ url_for('index_view') }}">Blog</a></h1>
                    </li>
                    <li class="toggle-topbar"><a href="#">Menu</a></li>
                </ul>

                <section class="top-bar-section">
                    <!-- Right Nav Section -->
                    <ul class="right">
                        <li class="has-dropdown">
                            <a href="#">Authors</a>
                            <ul class="dropdown">
                                {% for user in users() %}
                                <li><a href="{{ url_for('profile_view', name=user.shortname) }}">{{ user.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="has-dropdown">
                            <a href="#">Tags</a>
                            <ul class="dropdown">
                                {% for tag in tags() %}
                                <li><a href="{{ url_for('tag_view', slug=tag.slug) }}">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                </section>
            </nav>
        </div>
        <div class="row">
        {% block content %}{% endblock %}
        </div>

        <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/foundation.min.js') }}"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>