{% extends 'base.html' %}
{% set title = 'Login' %}
{% block content%}
    <form method="POST" action="{{ url_for('login_view') }}">
        {% if form.errors %}
            <ul>
                {% for field_name, field_errors in form.errors|dictsort if field_errors %}
                    {% for error in field_errors %}
                        <li>{{ form[field_name].label }}: {{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        {% endif %}
        {{ form.csrf_token }}
        {% for field in form if field.widget.input_type != 'hidden' %}
          {{ field.label }}
          {{ field }}
        {% endfor %}
        <input type="submit">
    </form>
{% endblock %}