{% extends 'base.html' %}
{% set title = post.title %}
{% set css_file = post.css_file %}
{% set js_file = post.js_file %}
{% block content%}
    <div class="post-wrap">
        {{ post.body_html | safe}}
        <div class="author-wrap">
            <p>Author: {{ user.name }}</p>
            <div class="services-wrap">
                {% for service in services %}
                <a href="{{ service.url }}">
                <img alt="{{ service.alt_text }}" src="{{ url_for('static', filename='img/' ~ service.icon_file) }}">
                </a>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}