{% extends 'base.html' %}
{% set title = user.name ~ ' posts' %}
{% set css_file = none %}
{% set js_file = none %}
{% block content%}
    <div class="post-list-wrap">
        <h2>Posts by {{ user.name }}</h2>
        <hr>
        {% for post in user_posts %}
            <article class="user-post">
                <a href="{{ url_for('post_view', slug=post.slug) }}"><h3>{{ post.title }}</h3></a>
                <h5>Author: {{ post.user.name }}</h5>
                <h5>Date: {{ post.date }}</h5>
            </article>
            <hr>
        {% endfor %}
    </div>
{% endblock %}